.navbar{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar li{
    display: inline;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
  }

.navbar li a:hover{
    font-weight: bold;
    text-shadow: grey 5px 5px 5px;
  }  

.navbar ul {
    list-style-type: none;
    float: right;
    padding-right: 5%;
}

content {
    height: 350px;
    background-color: white;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 30px;
    padding-top: 100px;
}

#home {
    background-image: url("/images/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    width: 100%;
    color: white;
    padding-top: 50px;
}

#home h2 {
    font-size: 5em;
    padding-top: 450px;
}

#home p {
    font-size: 3em;
}

h2 {
    padding-top: 50px;
}

/*#about {
    height: 350px;
    background-color: white;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 30px;
    padding-top: 100px;
}

#experience {
    height: 350px;
    background-color: white;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 30px;
    padding-top: 100px;
}

#skills {
    height: 350px;
    background-color: white;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 30px;
    padding-top: 100px;
}*/

p {
    padding-top: 20px;
}

@media screen and (max-width:768px){
	/*If the browser window is 768px or smaller*/
    .content{
    display: inline-block;
    width: 45%;
    height: 250px;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;    
    }
    
    #bottom{
        width: 90%;
    }

    #home {
        text-align: center;
    }
}

@media screen and (max-width:550px){
	.content{
    display: block;
    width: 75%;
    height: 250px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;    
    }
    
    #bottom{
        width: 75%;
    }
}
