.navbar{
    background-color: white;
    /*background: transparent;*/
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar li{
    display: inline;
    padding-left: 17.5%;
    font-size: 35px;
    font-family: Calibri;
    letter-spacing: 3px;
    width: 33%;
  }

.navbar li a:hover{
    font-weight: bold;
    cursor: cell;
    text-shadow: grey 5px 5px 5px;
  }  

.navbar ul {
    list-style-type: none;
}

#home {
    background-image: url("/images/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    width: 100%;
    color: white;
    padding-top: 50px;
}

#home h2 {
    font-size: 5em;
    padding-top: 450px;
}

#home p {
    font-size: 3em;
}

@media screen and (max-width:768px){
	/*If the browser window is 768px or smaller*/
    .content{
    display: inline-block;
    width: 45%;
    height: 250px;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;    
    }
    
    #bottom{
        width: 90%;
    }

    #home {
        text-align: center;
    }
}

@media screen and (max-width:550px){
	.content{
    display: block;
    width: 75%;
    height: 250px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;    
    }
    
    #bottom{
        width: 75%;
    }

    .navbar {
        
    }
}
