.navbar{
    background: white;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar li{
    display: inline;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
  }

.navbar li a:hover{
    font-weight: bold;
    text-shadow: grey 5px 5px 5px;
  }  

.navbar ul {
    list-style-type: none;
    float: right;
    padding-right: 5%;
}

.content {
    display: block;
    background-color: white;
    color: black;
    /*padding-left: 10%;
    padding-right: 10%;*/
    line-height: 30px;
    padding-top: 100px;
    width: 100%;
}

#home {
    background-image: url("/images/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    width: 100%;
    color: white;
    padding-top: 50px;
}

#home h2 {
    font-size: 80px;
    padding-top: 450px;
}

#home p {
    font-size: 60px;
}

.content h2 {
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
}

p {
    padding-top: 20px;
    font-size: 20px;
}

.content ul {
    font-size: 20px;
}

#profile {
    width: 300px;
}

.gridContact {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    text-align: center;
}

.gridSkills {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    width: 50px;
    text-align: center;
}

div.gridSkills {
    width: 100px;
}

.contactInfo {
    text-align: right;
}

#profile {
    clip-path: circle(40% at 50% 37%);
}

@media screen and (max-width:790px){
    .content{
    display: inline-block;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    }

    .gridContact {
        display: block;
    }

    .contactInfo {
        text-align: center;
    }

    #home {
        text-align: center;
    }

    #home h2 {
        padding-top: 350px;
    }
}