.navbar{
    background: white;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar li{
    display: inline;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
  }

.navbar li a:hover{
    font-weight: bold;
    text-shadow: grey 5px 5px 5px;
  }  

.navbar ul {
    list-style-type: none;
    float: right;
    padding-right: 5%;
}

.content {
    display: block;
    background-color: white;
    color: black;
    line-height: 30px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.content {
    height: 100%;
}

#home {
    background-image: url("/images/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    width: 100%;
    color: white;
    padding-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Set heading in #home to a larger size, near the bottom*/
#home h2 {
    font-size: 80px;
    padding-top: 450px;
}

#home p {
    font-size: 60px;
}

#experience {
    background-color: black;
    color: white;
}

.content h2 {
    font-size: 40px;
    padding-top: 60px;
    text-align: center;
}

p {
    padding-top: 20px;
    font-size: 20px;
}

.content ul {
    font-size: 20px;
}

.gridSkills {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 50px;
    justify-items: center;
}

div.gridSkills .skillItem {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 1px #dbdbdb;
    transition: all 200ms ease;
    width: 200px;
    height: 200px;
}

div.gridSkills .skillItem:hover {
    box-shadow: 0px 0px 5px 5px #dbdbdb;
    transform: scale(1.05);
}

div.gridSkills img {
    width: 75px;
    height: 75px;
}

/*#item3 {
    grid-area: 2 / 1 / span 1 / span 2;
}*/

#skills {
    text-align: center;
}

#profile {
    width: 300px;
}

.gridContact {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    text-align: center;
}

#contact {
    background-color: black;
    color: white;
}

.contactInfo p {
    text-align: right;
    font-size: 40px;
    line-height: 50px;
}

#profile {
    clip-path: circle(40% at 50% 37%);
}

@media screen and (max-width:930px){
    .gridContact {
        display: block;
    }

    .contactInfo p {
        text-align: center;
    }
}

@media screen and (max-width:790px) and (min-width:511px){
    .content {
    display: inline-block;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    }

    .gridSkills {
        grid-template-columns: 50% 50%;
    }
    
    #item3 {
        grid-area: 2 / 1 / span 1 / span 2;
    }

    .gridContact {
        display: block;
    }

    .contactInfo p {
        text-align: center;
        font-size: 20px;
    }

    #home {
        text-align: center;
    }

    #home h2 {
        padding-top: 350px;
    }
}

@media screen and (max-width:510px){
    .gridSkills {
        /*display: block;*/
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .gridContact {
        display: block;
    }

    .navbar a {
        font-size: 15px;
    }
}